<div class="navigation-view d-flex mb-4">
    <div class="side-navbar bg-light rounded mr-4 pt-3">
        @if (User.IsInRole("Admin"))
        {
            <ul class="list-unstyled mb-3">
                <li class="text-muted text-uppercase px-3"><i class="fas fa-wrench"></i>&nbsp;Quản trị viên</li>
                <li><a href="#" class="d-block text-success text-capitalize px-3">Người dùng</a></li>
                <li><a href="#" class="d-block text-success text-capitalize px-3">Quyền hạn</a></li>
            </ul>
        }
        <ul class="list-unstyled mb-3">
            <li class="text-muted text-uppercase px-3"><i class="fas fa-signal"></i>&nbsp;Thống kê</li>
            <li><a href="#" class="d-block text-success text-capitalize px-3">Tổng quan</a></li>
        </ul>
        <ul class="list-unstyled">
            <li class="text-muted text-uppercase px-3"><i class="fas fa-user"></i>&nbsp;Cán bộ quản lý</li>
            <li><a href="#" class="d-block text-success text-capitalize px-3">Quản lý cư trú</a></li>
            <li><a href="#" class="d-block text-success text-capitalize px-3">Quản lý công dân</a></li>
            <li><a href="#" class="d-block text-success text-capitalize px-3"></a></li>
        </ul>
    </div>
    <div class="side-jumbo jumbotron mb-0 px-5">
        <h1 class="display-5 font-weight-bold text-capitalize">Xin chào cán bộ</h1>
        <p class="text-justify">
            Hệ thống website quản lý thông tin cư trú tại địa phương
        </p>
        @Html.ActionLink("quản lý cư trú", "QuanLyCuTru", "CanBo", null, new { @class = "btn btn-success text-capitalize" })
        @Html.ActionLink("quản lý công dân", "QuanLyDan", "CanBo", null, new { @class = "btn btn-primary text-capitalize" })

    </div>
</div>
