
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Trang quản lý của admin</h2>
<br />
<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action">Quản lý thông tin công dân</a>
    <a href="#" class="list-group-item list-group-item-success">Quản lý thông tin cán bộ</a>
    <a href="#" class="list-group-item list-group-item-info">Thống kê và tra cứu thông tin</a>
    <a href="#" class="list-group-item list-group-item-warning">Quản lý quyền và chức vụ</a>
    <a href="#" class="list-group-item list-group-item-danger">Danger item</a>
    <a href="#" class="list-group-item list-group-item-primary">Primary item</a>
    <a href="#" class="list-group-item list-group-item-dark">Dark item</a>
</div>